<h1><%= @flat.name %></h1>
<div id="picture-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @flat.photos.each_with_index do |photo, index| %>
      <div class="carousel-item<%= " active" if index == 0 %>">
        <%= cl_image_tag photo.key, class: "d-block w-100" %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#picture-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#picture-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class=" border border-3 rounded-end p-3">
        <h4 class="card-title">Description:</h4>
        <p class="card-text"><%= @flat.description %></p>
        <hr>
        <h4>Details:</h4>
        <p><%= @flat.price %> €</p>
        <p><%= @flat.address %></p>
        <p><%= @flat.user.email %></p>
        <hr>
        <%= link_to "Book this flat",  new_flat_booking_path(@flat), class: "btn btn-secondary" %>
        <%= link_to "All flats", flats_path, class: "btn btn-secondary"  %>
        <% if policy(@flat).destroy? %>
          <%= link_to "Delete",
          flat_path(@flat),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
          class: "btn btn-secondary"
        %>
        <%end%>
        <% if policy(@flat).edit? %>
          <%= link_to "Edit this flat",  edit_flat_path(@flat), class: "btn btn-secondary"  %>
        <%end%>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0 ">
      <div class="border border-3 rounded-end p-3 ">
        <h4 class="card-title">Bookings</h4>
        <ol class="list-group">
        <% @flat.bookings.each do |booking| %>
          <li class=" list-group-item d-flex justify-content-between">
          <strong>From:</strong>
            <%= booking.start_date%>, <strong>to:</strong> <%= booking.end_date %>,
            <br>
            &nbsp
            reserved by: <%= booking.user.email %>
            <%= booking.confirmed_by_owner ? "Confirmed" : "Unconfirmed" %>
            <div>
              <% if policy(booking).edit? %>
                <%= link_to "Edit",  edit_booking_path(booking), class: "btn btn-secondary"  %>
              <%end%>
              <% if policy(booking).destroy? %>
                <%= link_to "Delete",
              booking_path(booking),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
              class: "btn btn-secondary"
            %>
              <% end %>
            </div>
          </li>
        <%end%>
        </ol>
      </div>
    </div>
  </div>
