
  <div id='flat-booking-dates '>
    <div class="widget-content" data-unavailable="<%= flat.unavailable_dates.to_json %>">
      <%= simple_form_for([flat, booking], data: { controller: 'flatpickr', flatpickr_start_time_value: "#starttime", flatpickr_end_time_value: "#endtime" }) do |f| %>
        <%= f.input :start_date,  label: 'CHECK-IN' , as: :string, input_html: { data: { flatpickr_target: "startTime"} } %>
        <%= f.input :end_date,  label: 'CHECK-OUT' , as: :string, input_html: { data: { flatpickr_target: "endTime"} ,id: 'endtime'} %>
        <%= f.submit 'Submit', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
