<h1>All Booking Requests for passanger</h1>
<ul>
  <% @bookings.each do |booking| %>
    <li><%= link_to booking.flat.name, flat_path(booking.flat) %>
       , <%= booking.user.email %>
          <%= link_to "Delete",
            booking_path(booking),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
            class: "btn btn-danger"
          %>
          <%= link_to "edit",edit_booking_path(booking), class: "btn btn-warning" %>
        <br>
        , <%= booking.start_date %>
        , <%= booking.end_date %>




       </li>
  <% end %>
</ul>
