  <!-- Main content section -->
  <section class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-4 image-gallery gallery-border">
        <!-- Content for the first column -->
        <%= image_tag("t1.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>
        <%= image_tag("t1.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>
        <%= image_tag("t1.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>
        </div>
      </div>
      <div class="col-md-4 gallery-border">
        <!-- Content for the second column -->
        <%= image_tag("t1.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>
        <%= image_tag("t1.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>
        <%= image_tag("t1.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>

      </div>
    </div>
    <div class="row">
      <div class="col-md-4 gallery-border">
        <!-- Content for the third column -->
        <%= image_tag("t1.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>
        <%= image_tag("t1.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>
        <%= image_tag("t1.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>
        <%= image_tag("t1.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>

      </div>
      <div class="col-md-4 gallery-border">
        <!-- Content for the fourth column -->
        <%= image_tag("t1.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>
        <%= image_tag("t1.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>
        <%= image_tag("t2.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>
        <%= image_tag("t2.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>

      </div>
      <div class="col-md-4 gallery-border">
        <!-- Content for the fifth column -->
        <%= image_tag("t2.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>
        <%= image_tag("t2.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>
        <%= image_tag("t2.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>
        <%= image_tag("t2.jpg", class: "img-fluid my-2", alt: "Button Icon Set") %>
      </div>
    </div>
  </section>


  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
